
<div class="mt-2 card {{bgtheme}} p-2 bg-info">
  <h1 class="display-4">Bem-vindo</h1>
  <p class="lead">Este é o meu portifólio.</p>
  <p class="lead">Aqui você pode encontrar mais informações atualizadas sobre mim, sobre meus projetos e como entrar em
    contato comigo!</p>
  <hr class="my-4">
  <p>Quer saber mais sobre mim?</p>
  <a class="btn btn-primary {{texttheme}} btn-lg" routerLink="/sobre" routerLinkActive="active">Sobre mim</a>
  <hr class="my-2">
  <p>Quer saber mais sobre meus projetos?</p>
  <a class="btn btn-primary {{texttheme}} btn-lg" routerLink="/projetos" routerLinkActive="active" disabled>Meus
    Projetos</a>
  <hr class="my-2">
  <p>Entre em contato comigo</p>
  <a class="btn btn-primary {{texttheme}} btn-lg" routerLink="/contato" routerLinkActive="active" disabled>Entrar em
    contato</a>
  <div class="my-3">
  </div>
</div>
