<!--COLUNA DE CONTEUDO-->

    <!--MENU MOBILE-->
    <app-mobilemenu></app-mobilemenu>

    <!--Linha 0-->
    <div class="row m-0 mt-1">
      <div class="card col-12 w-100 {{bgtheme}}">
        <p class="h4 m-2 card-title">Sobre mim</p>
        <hr class="my-2">
        <div class="card-body">
          <p class="card-text">Meu nome é Everton (mais conhecido como Veve), sou entusiasta de tecnologia e busco
            conhecimento em todas as áreas</p>
          <p class="card-text">📚 Cursando Bacharelado em Ciência da Computação</p>
          <p class="card-text">🌱 Atualmente estou aperfeiçoando meus conhecimentos em Java</p>
          <p class="card-text">👯 Aberto para colaborações em projetos de Java e Python</p>
          <p class="card-text">🤔 Estudando Cloud Computing (SaaS & PaaS)</p>
          <p class="card-text">💬 Fale sobre IA comigo e ganhe horas de conversas</p>
          <p class="card-text">😄 Pronomes: Ele/Dele</p>
          <p class="card-text">⚡ Fun fact: The Office Fan; Gosto muito de Python, mas a vida me leva de volta pro
            Java</p>
        </div>
      </div>
    </div>

    <div class="my-2"></div>


    <!--Linha 1-->
    <div class="row m-0 ">
      <div class="card col-12 w-100 {{bgtheme}}">
        <p class="h4 m-2 card-title">Java Backend Developer</p>
        <hr class="my-2">
        <div class="card-body">
          <p class="card-text">Minha tragetória com o Java se deu inicio graças ao Projeto Start (uma aliança
            entre a Rede Cidadã, a
            Accenture do Brasil e a Accenture Foundation,
            que ofereciam cursos na área de técnologia.</p>
          <p class="card-text">Escolhi Java pois acreditava ser o melhor para iniciar no mercado de trabalho. Para
            concluir o curso,
            juntamente com uma equipe, desenvolvi o Projeto Núcleos, que utilizava os conceitos e tecnologias
            ensinadas na ementa.</p>
          <p class="card-text"><b>Skills:</b> Spring Boot, JPA, JDBC, JSP, JSF, Swagger, JUnit.</p>
        </div>
      </div>
    </div>

    <div class="my-2"></div>
    <!--Linha 2-->
    <div class="row m-0 ">
      <div class="card col-12 w-100 {{bgtheme}}">
        <p class="h4 m-2 card-title">Frontend Developer</p>
        <hr class="my-2">
        <div class="card-body">
          <p class="card-text">Desde minha adolescência gostava muito de desenvolver sites utilizando HTML, CSS,
            JS e é claro o
            Bloco de Notas.
            Com o tempo foi necessário aprender mais conceitos nessa área como UI/UX e novas tecnologias, pois
            foram se tornando mais requisitadas.</p>
          <p class="card-text">Então comecei a focar em Angular, graças a um Bootcamp da DIO (Digital Innovation
            One Inc.) e sigo
            desenvolvendo Aplicações de Página Única (SPA).</p>
          <p class="card-text"><b>Skills:</b> HTML5, CSS3, Bootstrap, Javascript, JQuery, Typescript, Angular.
          </p>
        </div>
      </div>
    </div>




