<!--COLUNA DE CONTEUDO-->


<!--Linha 0-->
<div class="row m-0 mt-1 h-100">
  <div class="card col-12 w-100 {{bgtheme}}">
    <p class="h4 m-2 card-title">Contato</p>
    <hr class="my-2">
    <div class="card-body">

      <!--Linkedin-->
      <div class="card mb-4 {{bgtheme}}">
        <div class="card-header">
          <p class="h4 card-title text-center">Linkedin</p>
        </div>
        <div class="card-body">
          <p class="h5 ">Nome de Usuário: evertonrufino7</p>
          <p class="text-muted ">ou se preferir</p>
          <a class="h5  {{texttheme}} text-decoration-none" href="https://www.linkedin.com/in/evertonrufino7/" target="_blank">Clique aqui</a>
        </div>
      </div>


      <!--EMAIL-->
      <div class="card mb-4 {{bgtheme}}">
        <div class="card-header">
          <p class="h4 card-title text-center">Email</p>
        </div>
        <div class="card-body">
          <p class="h5 ">Endereço de Email: everton7ej@gmail.com</p>
          <p class="h5 ">Endereço de Email secundário: everton7ej@hotmail.com</p>
          <p class="text-muted ">ou se preferir</p>
          <a class="h5  {{texttheme}} text-decoration-none" href="mailto:everton7ej@gmail.com" target="_blank">Clique aqui</a>
        </div>
      </div>

      <!--WHATSAPP-->
      <div class="card mb-4 {{bgtheme}}">
        <div class="card-header">
          <p class="h4 card-title text-center">Whatsapp</p>
        </div>
        <div class="card-body">
          <p class="h5 ">Número: +55 (81) 98315-9564</p>
          <p class="text-muted ">ou se preferir</p>
          <a class="h5  {{texttheme}} text-decoration-none" href="https://wa.me/5581983159564?text=Olá+Everton%2C+estou+entrando+em+contato+através+do+seu+site.+Podemos+conversar%3F" target="_blank">Clique aqui</a>
        </div>
      </div>


      <!--TELEGRAM-->
      <div class="card mb-4 {{bgtheme}}">
        <div class="card-header">
          <p class="h4 card-title text-center">Telegram</p>
        </div>
        <div class="card-body">
          <p class="h5 ">Número: +55 (81) 98315-9564</p>
          <p class="h5 ">Nome de Usuário: @heyiamej</p>
          <p class="text-muted ">ou se preferir</p>
          <a class="h5  {{texttheme}} text-decoration-none" href="https://telegram.me/heyiamej" target="_blank">Clique aqui</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1"></div>
</div>




