
<div class="container-fluid h-100 {{theme.bg}} {{theme.text}}">
  <div class="row h-100">

    <!--COLUNA DE MENU-->
    <div class="col-md-3 h-100 py-2 overflow-auto d-none d-md-block">
      <img src="/assets/profile_pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Profile Picture">
      <h2 class="text-center pt-1 my-1">
        Everton Rufino
      </h2>
      <p class="text-muted text-center my-0">Java Backend Developer</p>
      <p class="text-muted text-center my-0">Fullstack Developer</p>
      <hr>
      <nav class="nav flex-column">
        <a class="nav-link" href="#">Pagina Inicial</a>
        <a target="_blank" class="nav-link" href="https://github.com/HeyIAmEj?tab=repositories">Projetos</a>
        <a class="nav-link active" href="#">Sobre mim</a>
        <a class="nav-link" href="#">Contato</a>
        <a target="_blank" class="nav-link bg-beta beta" href="https://github.com/HeyIAmEj">Github</a>
      </nav>
    </div>


    <!--COLUNA DE CONTEUDO-->
    <div class="col-sm-12 col-md-9 m-0 p-0 h-100 overflow-hidden">
      <!--      <div class="container px-0 py-0 h-100 bg-secondary overflow-hidden">-->

      <div class="container-fluid py-0 mx-0 {{theme.primary}} w-100 h-100 overflow-auto">


        <!--MENU MOBILE-->
        <div class=" card col-12 mb-2 {{theme.bg}} overflow-hidden d-block d-md-none">
          <span ngModel="isCollapsed"></span>
          <a (click)="toggleMenu()" class="nav-link"><mat-icon inline=true aria-hidden="false" class="p-0 m-0" aria-label="MenuIcon">menu</mat-icon> Menu </a>


          <div [collapse]="isCollapsed" class="{{theme.bg}} p-2 overflow-auto">
            <img src="/assets/profile_pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Profile Picture">
            <h2 class="text-center pt-1 my-1">
              Everton Rufino
            </h2>
            <p class="text-muted text-center my-0">Java Backend Developer</p>
            <p class="text-muted text-center my-0">Fullstack Developer</p>
            <hr>
            <nav class="nav flex-column">
              <a class="nav-link" href="#">Pagina Inicial</a>
              <a target="_blank" class="nav-link" href="https://github.com/HeyIAmEj?tab=repositories">Projetos</a>
              <a class="nav-link active" href="#">Sobre mim</a>
              <a class="nav-link" href="#">Contato</a>
              <a target="_blank" class="nav-link bg-beta beta" href="https://github.com/HeyIAmEj">Github</a>
            </nav>
          </div>
        </div>



        <!--Linha 0-->
        <div class="row m-0 mt-1">
          <div class="card col-12 w-100 {{theme.bg}}">
            <p class="h4 m-2 card-title">Sobre mim</p>
            <hr class="my-2">
            <div class="card-body">
              <p class="card-text">Meu nome é Everton (mais conhecido como Veve), sou entusiasta de tecnologia e busco
                conhecimento em todas as áreas</p>
              <p class="card-text">📚 Cursando Bacharelado em Ciência da Computação</p>
              <p class="card-text">🌱 Atualmente estou aperfeiçoando meus conhecimentos em Java</p>
              <p class="card-text">👯 Aberto para colaborações em projetos de Java e Python</p>
              <p class="card-text">🤔 Estudando Cloud Computing (SaaS & PaaS)</p>
              <p class="card-text">💬 Fale sobre IA comigo e ganhe horas de conversas</p>
              <p class="card-text">😄 Pronomes: Ele/Dele</p>
              <p class="card-text">⚡ Fun fact: The Office Fan; Gosto muito de Python, mas a vida me leva de volta pro
                Java</p>
            </div>
          </div>
        </div>

        <div class="my-2"></div>


        <!--Linha 1-->
        <div class="row m-0 ">
          <div class="card col-12 w-100 {{theme.bg}}">
            <p class="h4 m-2 card-title">Java Backend Developer</p>
            <hr class="my-2">
            <div class="card-body">
              <p class="card-text">Minha tragetória com o Java se deu inicio graças ao Projeto Start (uma aliança
                entre a Rede Cidadã, a
                Accenture do Brasil e a Accenture Foundation,
                que ofereciam cursos na área de técnologia.</p>
              <p class="card-text">Escolhi Java pois acreditava ser o melhor para iniciar no mercado de trabalho. Para
                concluir o curso,
                juntamente com uma equipe, desenvolvi o Projeto Núcleos, que utilizava os conceitos e tecnologias
                ensinadas na ementa.</p>
              <p class="card-text"><b>Skills:</b> Spring Boot, JPA, JDBC, JSP, JSF, Swagger, JUnit.</p>
            </div>
          </div>
        </div>

        <div class="my-2"></div>
        <!--Linha 2-->
        <div class="row m-0 ">
          <div class="card col-12 w-100 {{theme.bg}}">
            <p class="h4 m-2 card-title">Frontend Developer</p>
            <hr class="my-2">
            <div class="card-body">
              <p class="card-text">Desde minha adolescência gostava muito de desenvolver sites utilizando HTML, CSS,
                JS e é claro o
                Bloco de Notas.
                Com o tempo foi necessário aprender mais conceitos nessa área como UI/UX e novas tecnologias, pois
                foram se tornando mais requisitadas.</p>
              <p class="card-text">Então comecei a focar em Angular, graças a um Bootcamp da DIO (Digital Innovation
                One Inc.) e sigo
                desenvolvendo Aplicações de Página Única (SPA).</p>
              <p class="card-text"><b>Skills:</b> HTML5, CSS3, Bootstrap, Javascript, JQuery, Typescript, Angular.
              </p>
            </div>
          </div>
        </div>


        <div class="my-5"><span></span></div>

      </div>
    </div>
  </div>
  <!--  </div>-->
</div>
