<div class="{{texttheme}} container-fluid h-100 {{bgtheme}}">

  <div class="row h-100">

    <!--COLUNA DE MENU LATERAL -->
    <div class="col-md-3 h-100 pt-2 overflow-auto d-none d-md-block">
      <div class="row">
        <div class="pb-2 d-flex justify-content-center" *ngIf="ischecked">
          <mat-icon (click)="toggleTheme()" style="cursor:pointer;" aria-hidden="false" class="p-0 m-0" aria-label="MenuIcon">light_mode</mat-icon>
        </div>
        <div class="pb-2 d-flex justify-content-center" *ngIf="!ischecked">
          <mat-icon (click)="toggleTheme()" style="cursor:pointer;" aria-hidden="false" class="p-0 m-0" aria-label="MenuIcon">dark_mode</mat-icon>
        </div>

      </div>
    <img src="/assets/profile_pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Profile Picture">
    <h2 class="text-center pt-1 my-1">
      Everton Rufino
    </h2>


    <p class="text-muted text-center my-0">Java Backend Developer</p>
    <p class="text-muted text-center my-0">Fullstack Developer</p>
    <hr>
    <nav class="nav flex-column">
      <a class="nav-link {{texttheme}}" routerLink="/index" routerLinkActive="active">Pagina Inicial</a>
      <a class="nav-link {{texttheme}}" routerLink="/projetos" routerLinkActive="active">Projetos</a>
      <a class="nav-link {{texttheme}}" routerLink="/sobre" routerLinkActive="active">Sobre mim</a>
      <a class="nav-link {{texttheme}}" routerLink="/contato" routerLinkActive="active">Contato</a>
      <a class="nav-link {{texttheme}}" target="_blank" href="https://github.com/HeyIAmEj">Github</a>
    </nav>
  </div>

  <div class="col-sm-12 col-md-9 m-0 p-0 h-100 overflow-hidden">
    <div class="container-fluid py-0 mx-0 active{{ptheme}} w-100 h-100 overflow-auto">

      <!-- DEPENDE DA PAGINA ATUAL  -->
      <app-mobilemenu></app-mobilemenu>

      <router-outlet></router-outlet>
      <div class="my-3"><span></span></div>
    </div>
  </div>

</div>
</div>

