html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
$enable-responsive-font-sizes:true;

$primary: #492c89;
$secondary: #5d409d;
$theme: #f8f9fa;

$theme-colors: (
  "primary":$primary,
  "secondary": $secondary,
  "dark": #212529,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #FFC107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "theme":$theme
);

/**{
  font-family: "Times New Roman", Times, serif;
}*/
.card-text {
  font-size: 17px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}


.active {
  background: #0dcaf0;
}

a:hover {
  color: #0dcaf0;
}

@import "../node_modules/bootstrap/scss/bootstrap";
