$enable-responsive-font-sizes: true;
$primary: #492c89;
$p1: #492c89;
$p2: #FFC107;
$p3: #dc3545;
//$primary: #FFC107;
//$primary: #dc3545;
$secondary: #5d409d;

$theme: red;
$theme-dark: #212529;
$theme-light: #f8f9fa;


//$nav-link-color:white;
//$body-color:$theme-text;*/

$theme-colors: (
  "primary":$primary,
  "secondary": $secondary,
  "dark": #212529,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #FFC107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "theme":$theme,
  "theme-dark":$theme-dark,
  "theme-light":$theme-light,
  "theme-half":#404040,
);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.active {
  background: #61616130;
}

.active1 {
  background: $p1;
}

.active2 {
  background: $p2;
}

.active3 {
  background: $p3;
}


.card-text {
  font-size: 17px;
}


@import "../node_modules/bootstrap/scss/bootstrap";

.linkpointer {
  cursor: pointer;
}
